body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  align-content: center;
  border: 1px solid #ebebeb;
  border-radius: 0.5rem;
  margin: 0.5rem;
  overflow: hidden;
  height: fit-content;
}

.card:hover {
  background-color: whitesmoke;
}

.card-body:hover {
  cursor: pointer;
}

.badge-pill {
  background-color: transparent;
  margin-right: 0.3rem;
  border-radius: 50rem !important;
}

.badge-red {
  background-color: #dc3545 !important;
}

.badge-green {
  background-color: seagreen !important;
}

.badge-gray {
  background-color: lightgray !important;
}

.badge-default {
    background-color: royalblue !important;
}

.btn.btn-danger {
  color: #dc3545;
  background-color: transparent;
  border: 0;
}

select.form-control {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 12px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8886;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #88888887;
}